.hide{
    display: none;
}
.header-section{
    background-color: rgb(60, 62, 68);
    color: cornsilk;
    width: 100%;
    height: 10%;
    display: flex;
    overflow: hidden;
    border-radius: 2px;
    margin: 0px;
}

h1{
    margin-left: 20%;
    margin-right: 20%;
}

.allPage{
    background-color: rgb(196, 159, 197);
}

#searchBar{
    width: 20%;
    height: 15px;
    border-radius: 3px;
    border: 1px solid papayawhip;
    padding: 5px 10px;
    font-size: 12px;
}
#searchWrapper{
    position: relative;
}

#searchWrapper::after{
    content: normal ;
    position: absolute;
    top: 2px;
    right: 15px;
}

.characterCard{
    max-width: 200px;
    padding: 10px;
    background-color: rgb(60, 62, 68);
    border-radius: 8px;
    margin: 3%;
    flex: 0 1 3%;
    position: relative;
    color: cornsilk;
    font-weight: bold;
    display: grid;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;
}


.characterImage{
    border-radius: 8px;
    width: 200px;
}


a{
    text-decoration:none;
    color: cornsilk;
}

.cardContainer{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-wrap: wrap;
    max-width: 1920px;
}
